$red: #FB2712;
$dark-blue: #132D4E;
$green: #009E9D;
$light-green: #64B8AF;
$light-gray: #f4f4f4;
$mid-gray: #bababa;
$dark-gray: #616B76;
$trans-gray: rgba(231,231,231,0.7);
$trans-mid-gray: rgba(206,206,206,0.7);
$beige: #FFF7EA;
$white: #fff;
$blue: #2472a4;
$pink: #b92980;
$seagreen: #29b9aa;

$size-nav: 18px;

@font-face {
    font-family: 'NexaDemoLight';
    src: url('../fonts/NexaDemo-Light.otf') format("opentype");
}

@font-face {
    font-family: 'NexaDemoBold';
    src: url('../fonts/NexaDemo-Bold.otf') format("opentype");
}

@mixin mobile {
    @media (max-width: 599px) { @content; }
}

@mixin laptop {
    @media (min-width: 600px) { @content; }
}

@mixin desktop {
    @media (min-width: 1400px) { @content; }
}

@mixin big-desktop {
    @media (min-width: 1800px) { @content; }
}

html {
    body {
                
        font-family: 'NexaDemoLight', sans-serif;
        
        background-color: $white;
        
        box-sizing: border-box;

        margin: 5vh 20px 0 20px;

        @include big-desktop {
            max-height: 100vh;
            overflow-y: hidden;
        }

        
        a, a:hover, a:active, a:visited, a:focus {
            text-decoration: none;
            color: black;
        }

        
        nav {
            padding: 2vh 30px;
            // max-width: 20vw;
            float: right;

            @include big-desktop {
                padding: 2vh 5vw;
            }
            

            p {
                text-align: right;
                font-size: $size-nav;

                a {
                    padding: 0 10px;
                }
            }

            ul {
                list-style: none;
                text-align: right;

                li {
                    text-align: right;
                    line-height: 1.4;
                    margin-bottom: 20px;
                }
            }

            #email {
                background-color: $pink; 
                color: $white; 
                padding: 5px 10px;
                letter-spacing: 1.5px;
            }
        }
        
        .page {
            padding: 10vh 0 0 0;
            line-height: 1.3;

            @include big-desktop {
                padding: 5vh 0 0 0;
            }

            .accented {
                font-weight: 900;
                font-size: 32px;
                color: $blue;
                font-family: 'Oswald';
            }

            div {
                margin-bottom: 30px;

                @include big-desktop {
                    margin-bottom: 10px;
                }
            }

            .container {
                display: flex;
                margin-bottom: 5vh;
                width: 70vw;

                @include desktop {
                    width: 65vw;
                }

                @include big-desktop {
                    width: 70vw;
                }

                .text-margin {
                    font-size: 24px;
                    // font-family: 'Tangerine', serif;
                    font-family: 'Caveat', cursive;
                    // font-family: 'Dancing Script', cursive;
                    min-width: 12vw;
                    text-align: center;
                    padding-top: 5px;
                    padding-right: 10px;

                    @include desktop {
                        min-width: 5vw;
                    }
                }

                .keyword {
                    margin-bottom: 10px;
                    margin-right: 5px;
                }

                .highlighted {
                    padding: 5px 10px;
                }
    
                .text-section {
                    font-size: 28px;
                    margin-bottom: 50px;
                    // flex-grow: 11;
                }
            }

            #name {
                background-color: black; 
                color: $white; 
            }

            #job {
                color: $seagreen;
            }

            #fixing {
                color: $blue;
            }

            #curiosity {
                background-color: $seagreen;
                color: $white;
            }

            #passion {
                color: $pink;
            }

            #writing {
                color: $pink;
            }

            .resume-container {
                border-bottom: 5px solid $pink;
                padding: 20px;
                float: right;
                position: relative;
                right: 5vw;
                top: -64px;

                @include big-desktop {
                    float: unset;
                    position: absolute;
                    right: 5vw;
                    bottom: 20px;
                    top: unset;
                }
            }
        }
        
    }
}