$paper: #FFFCF0;
$base-50: #F2F0E5;
$base-100: #E6E4D9;
$base-200: #CECDC3;
$base-300: #B7B5AC;
$base-500: #878580;
$base-600: #6F6E69;
$base-700: #575653;
$base-800: #403E3C;
$base-900: #282726;
$black: #100F0F;
$red-400: #D14D41;
$red-600: #AF3029;
$orange-400: #DA702C;
$orange-600: #BC5215;
$yellow-400: #D0A215;
$yellow-600: #AD8301;
$green-400: #879A39;
$green-600: #66800B;
$cyan-400: #3AA99F;
$cyan-600: #24837B;
$blue-400: #4385BE;
$blue-600: #205EA6;
$purple-400: #8B7EC8;
$purple-600: #5E409D;
$magenta-400: #CE5D97;
$magenta-600: #A02F6F;
$spacing-small: 8px;
$spacing-medium: 32px;
$spacing-large: 48px;
$spacing-xl: 64px;
$font-body: 'National';
$font-em: 'Feijoa Medium';
$font-display: 'Feijoa';

@font-face {
    font-family: 'National';
    src: url('../fonts/National-Regular.otf') format("opentype");
}

@font-face {
    font-family: 'Feijoa';
    src: url('../fonts/Feijoa-Display.otf') format("opentype");
}

@font-face {
    font-family: 'Feijoa Bold';
    src: url('../fonts/Feijoa-Bold.otf') format("opentype");
}

@font-face {
    font-family: 'Feijoa Medium';
    src: url('../fonts/Feijoa-Medium.otf') format("opentype");
}

@font-face {
    font-family: 'Daniel';
    src: url('../fonts/Daniel.ttf') format("ttf");
}

@mixin mobile {
    @media (max-width: 599px) { @content; }
}

@mixin laptop {
    @media (min-width: 600px) { @content; }
}

@mixin desktop {
    @media (min-width: 1400px) { @content; }
}

@mixin big-desktop {
    @media (min-width: 1800px) { @content; }
}

html {
    box-sizing: border-box;
      
    *, *::before, *::after {
        box-sizing: inherit;
    }

    body {
        width: 100vw;
        overflow-x: hidden;
        background-color: $paper;
        height: 100vw;
        color: $black;
        font-family: $font-body;
        font-size: 20px;

        a:link, a:visited, a:active {
            color: $black;
            text-decoration: none;
        }

        a.underline { 
            text-decoration: $orange-400 wavy underline;
            text-underline-offset: 4px;
            color: $black;
        }
        
        #home-page a.underline { 
            text-decoration: $cyan-400 wavy underline;
            color: $black;
        }

        #about-page a.underline { 
            text-decoration: $red-400 wavy underline;
            color: $black;
        }

        .nav-active#home{
            color: $cyan-400;
        }

        .nav-active#about{
            color: $red-400;
        }

        .nav-active#creative a {
            color: $orange-400;
        }

        div.song {
            display: inline-block;
            margin-right: $spacing-medium;
            margin-bottom: $spacing-medium;
        }

        iframe {
            width: 400px;
            height: 400px;
        }

        .song-title a {
            font-size: 16px; 
            color: $base-500;
            line-break: anywhere;
            word-break: normal;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin-top: $spacing-small;
            margin-bottom: $spacing-medium;
            text-decoration: none;
        }

        img {
            width: 300px;
            border: solid 4px $base-800;
            box-shadow: 0px 4px 4px 2px rgba(0,0,0,25%);
        }

        img.img_full_size {
            width: fit-content;
            border: none;
            box-shadow: none;
            position: relative;
            top: calc(10vh - 151px);
        }

        
        h1 {
            font-family: $font-display;
            font-size: 67px;
        }

        h2 {
            font-family: $font-body;
            font-size: 42px;
            color: $base-600;
        }

        q {
            font-family: $font-display;
            font-size: 24px;
            display: inline-block;
            width: 50vw;
            color: $red-400;
        }

        section {
            margin-bottom: $spacing-xl;

            h2 {
                font-family: $font-em;
                font-size: 32px;
                color: $base-500;
            }
        }

        p {
            margin: $spacing-small 0;
            width: 50vw;
        }

        nav {
            height: 20vh;
            padding: $spacing-large;

            div.nav-right { float: right; }

            div#logo {
                font-family: $font-em;
                color: $base-500;
                font-size: 32px;
                display: inline-block;
            }
            
            ul {
                display: flex;
                flex-direction: row;
            }
            li {
                font-family: $font-display;
                font-size: 32px;
                padding: 2px $spacing-small;
                list-style-type: none;
                text-align: center;
                margin-right: $spacing-large; //64px;
            }
            
        }

        .topblock {
            height: 10vh;
        }

        .content {
            height: 100%;

            p {
                margin-bottom: 24px;
            };
        }

        aside {
            width: 25vw;
            height: 80vh;
            padding: calc(10vh + $spacing-large) $spacing-large $spacing-large $spacing-large;
            float: left;

            ul {
                margin-top: $spacing-small;
            }

            li {
                border-left: solid 4px transparent;
                list-style-type: none;
                padding: 2px $spacing-small;
                margin-bottom: $spacing-small;
            }

            .active {
                color: $orange-400;
            }
        }

        aside > div {
            margin-bottom: $spacing-large;
        }

        .menu-title {
            font-family: $font-display;
            font-size: 16px;
            color: $base-500;
        }

        .menu-title + ul li {
            font-size: 24px;
        }
        
        main {
            float: left;
            padding: $spacing-large;
            width: 75vw;
        }

        #artwork-gallery {
            img {
                margin: 0 $spacing-medium $spacing-medium 0;
            }
        }

        main#about-page {
            margin-left: 25vw;
        }

        main#home-page {
            margin-left: 15vw;
            width: 85vw;

            img {
                float: right;
                margin-right: $spacing-large;
                box-shadow: 6px 6px 12px rgba(30,4,11,20%);
            }
    
            h2 {
                width: 40vw;
                margin-top: $spacing-small;
                margin-bottom: $spacing-large;

                strong {
                    color: $cyan-400;
                }
            }

            p {
                margin-top: $spacing-small;
                font-size: 28px;
                color: $base-600;
            }
        }
    }
}
