$black: #111111;
$white: #F8F8F8;
$blue: #003366; //almost TARDIS blue, but websafe. Real thing: 003B6F
$red: #FA6775;//FF312E
$red-accent:  #bb3230 ;//#d83f3c  
$gray: #d2d2d2;
$bright-yellow: #fff247;

$pastel-green: #BFCDCD;
$pastel-blue: #A4B6C0;
$pastel-darkblue: #29343c;
$pastel-yellow: #D5B986;
$pastel-brown: #754E49;
$pastel-black: #808789;


/*
$black: #111111;
$white: #F8F8F8;
$blue: #003366; //almost TARDIS blue, but websafe. Real thing: 003B6F
$red: #ff4a48;//FF312E
$red-accent: #e10300 ;//ffff7b #ff7c7b  
$gray: #d2d2d2;
$bright-yellow: #fff247;

$pastel-green: #BFCDCD;
$pastel-blue: #A4B6C0;
$pastel-darkblue: #6a8397;
$pastel-yellow: #D5B986;
$pastel-brown: #754E49;
$pastel-black: #808789;
*/