@import 'colours';
@import 'fonts';
@import 'tables';

html {
    height: 100%;
    body {
        height: 100%;
        
            section.page {
                min-height: 100vh;    
                
                
                a,a:visited{
                    color: $white;
                    text-decoration: none;
                    margin: 0 10px;
                }
                a:hover{
                    color: $red;
                }
                        

                
                //overflow: hidden;
                
                font-family: 'Yanone Kaffeesatz', sans-serif;
                color: $white;
                h1 {
                    font-family: 'WC';
                    font-size: 22em; //20
                    
                    
                }
                h2 {
                    //font-family: 'BlackoutInverse';
                    font-size: 14em;
                    display: inline;
                }
                
                h3 {
                    font-size: 5em;
                    color: $red-accent;
                    //text-decoration: underline;
                    //text-decoration: line-through;
                }
                
                h4 {
                    font-size: 4em;
                }
                
                h5 {
                    font-size: 1.5em;
                }
                
                
                p {
                    margin: 20px 0 0 0;
                    font-size: 2em;
                }
                
                
                section{// italent
                     ul {
                        padding: 0 0 0 30px;
                        list-style: none;
                        strong{
                            color: $bright-yellow;
                            font-size: 1.5em;
                        }
                        font-size: 1.5em;
                    }
                }
                
                
                &#about section { //about
                    picture {
                        width: 50%;
                        float: right;
                        text-align: center;

                        img{
                            border-radius: 50%;
                        }
                        
                    }
                    p {
                        width: 50%;
                    }
                    
                }
                
                &#portfolio {
                    padding: 0 0 200px 0;
                    section.project {
                        margin: 50px 0 0 0;
                        h4 {
                            color: $bright-yellow;
                        }
                        p {
                            width: 50%;
                        }
                        picture {
                            width: 50%;
                            text-align: center;
                            float: right;
                            clear:both;
                        }
                    }
                }
                
                &#portfolio {
                    h3{
                        margin: 50px 0 0 0; 
                        text-decoration: none;
                    }
                }
                
                &#hobbies {
                    section {
                        width: 50%;
                    }
                    picture {
                        width: 50%;
                        text-align: center;
                        float: right;
                        clear: both;
                        img {
                            border-radius: 50%;
                        }
                    }
                    
                    >ul li {
                        margin: 200px 0 0 0;
                    }
                }
                
                nav {
                    display: inline-block;
                    float: right;
                    clear:right;
                    ul {
                    
                    list-style: none;
                    color: $red;
                    font-size: 2em;
                    
                    text-align: right;
                    padding-right: 10px;
                    
                    li{
                        a,a:hover,a:visited{
                            color: $red;
                            text-decoration: none;
                        }
                        
                        &.active a {
                            color: $red-accent !important;
                        }
                    }
                    
                    li:hover{
                        text-decoration: line-through;
                    }
                }    
                }
                
                
                div {
                    position: absolute;
                    bottom: 10px;
                    right: 20px;
                }
                
                
                &#home{
                    //background-color: $pastel-yellow;
                    //color: $gray;
                    background-image: url(../images/test/tiles.jpeg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    nav {
                        float:none;
                        
                        ul{
                            text-align: left;
                            font-size: 3em;
                        }
                    }
                }
                
                &#about{
                    //background-color: $pastel-green;
                    background-color: $pastel-darkblue;
                }
                
                &#italent{
                    //background-color: $pastel-blue;
                    background-color: $white;
                    color: $pastel-darkblue;
                    strong { color: $red;}
                    
                    a,a:visited{
                        color: inherit;
                    }
                    a:hover{
                        color: $red;
                    }
                }
                
                &#italent_full{
                    background-color: $pastel-darkblue;
                    //background-color: $white;
                    //color: $pastel-darkblue;
                    strong { color: $red;}
                    
                    a,a:visited{
                        //color: inherit;
                    }
                    a:hover{
                        //color: $red;
                    }
                    
                    
                    h3 {
                    font-size: 5em;
                    color: $red-accent;
                    //text-decoration: underline;
                    //text-decoration: line-through;
                    }

                    h4 {
                        font-size: 4em;
                        color: $bright-yellow;
                    }

                    h5 {
                        font-size: 3em;
                        color: $red;
                    }
                    
                    h6 {
                        font-size: 2em;
                        margin: 20px 0 0 20px;
                    }


                    p {
                        margin: 20px 0 0 0;
                        font-size: 1.5em;
                    }
                }

                
                &#CV{
                    background-color: $pastel-blue;
                }
                &#portfolio{
                    background-color: $pastel-darkblue;
                }
                &#hobbies{
                    background-color: $pastel-black;
                }
                &#links{
                    background-color: $pastel-blue;
                }
                
                //FIREFOX SPECIFIC RULES
                @-moz-document url-prefix() { 
                      h1 {
                         font-size: 18em;
                      }
                }
            }
        }
    
}