html {
    body {
        header {
            //see _header.scss
        }

        > main { //CONTENT SECTION  
            
            form {
                padding: 0 10%;
                @media #{$laptop} {
                    padding: 10% 30%;
                    width: 50%;
                }
                @media #{$desktop} {
                    padding: 10% 0;
                    width: 50%;
                }
                
                
                input[type=submit] {
                    display: block;
                    font-size: 1.5em;
                    padding: 5px;
                    margin: 25px auto 5px auto;
                    box-sizing: border-box;
                    font-weight: bold;
                    background: $purple;
                    color: $primary_text_color;
                    border: 2px solid $black;
                    border-radius: 10px;
                    text-align: center;
                    width: 50%;
                    
                    @media #{$desktop} {
                        width: 20%;    
                    }
                }
                input[type=text], input[type=email] {
                    @extend input[type=submit];

                    margin: 20px auto;
                    text-align: left;
                    font-weight: normal;
                    background-color: transparent;
                    border-radius: 0;
                    border-width: 0 0 1px 0; 
                    border-bottom-color: $white;
                    width: 100%;
                }

                textarea{
                    @extend input[type=text];
                    min-height: 4em;
                    
                    @media #{$desktop} {
                        min-height: 8em;    
                    }
                }

                input[type=submit]:hover {
                    background-color: $white;
                    color: $purple;
                }

                input[type=text]:hover, input[type=email]:hover {
                    background-color: transparent;
                    color: $primary_text_color;
                }


                input:focus, textarea:focus, input:active, textarea:active {
                    outline: 0;
                    border-bottom-color: $white;
                    border-bottom-width: 2px;
                }
                
                
            }
        }

        footer {
            //see _footer.scss
        }
    }
}







