@font-face {
    font-family: 'BlackoutInverse';
    src: url('../fonts/Blackout-2am.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'WC';
    src: url('../fonts/WCManoNegraBta.otf');
    font-weight: normal;
    font-style: normal;
}