html {
    body {
        header {
            //see _header.scss
        }
        
        > main { //CONTENT SECTION

        }
        
        footer {
            bottom: 0;
            height: 2em;
            font-size: 1.5em;
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;

            position: static;         
            flex-direction: column;
            margin-top: 50%; 
            
            @media #{$desktop}, #{$laptop} {
                position: absolute;
                flex-direction: row;
                height: 10%;
                margin-top: 0; 
            }
            a, a:visited {
                
                box-sizing: border-box;
                border: 3px solid $white;
                border-radius: 20px;
                margin: 10px 10%;
                width: 40%;
                text-align: center;
                color: $primary_text_color;

                &:nth-child(1) {
                    border-color: $facebook-blue;
                    color: $facebook-blue;
                }
                &:nth-child(2) {
                    border-color: $github-gray;
                    color: $github-gray;
                }
                &:nth-child(3) {
                    border-color: $gmail-red;
                    color: $gmail-red;
                }
                
                @media #{$desktop}, #{$laptop} {
                    width: 50%;
                    
                    &:nth-child(1) {
                        border-color: $primary_text_color;
                        color: $primary_text_color;
                    }
                    &:nth-child(2) {
                        border-color: $primary_text_color;
                        color: $primary_text_color;
                    }
                    &:nth-child(3) {
                        border-color: $primary_text_color;
                        color: $primary_text_color;
                    }
                    // HOVER
                    &:nth-child(1):hover {
                        border-color: $facebook-blue;
                        color: $facebook-blue;
                    }
                    &:nth-child(2):hover {
                        border-color: $github-black;
                        color: $github-black;
                    }
                    &:nth-child(3):hover {
                        border-color: $gmail-red;
                        color: $gmail-red;
                    }
                }
                
                
            }
        }
        footer#homepage {
            margin-top: 30%; 

        }    
        
    }
}