html {
    body {
        
        header {
            //see _header.scss
        }
        
        > main#portfolio { //CONTENT SECTION
            
            display: block;
            
            > p {
                width: auto;
                text-align: center;
                margin: 0 auto 20% auto;
                
                @media #{$laptop} {
                    padding: 15% 0;
                }
                @media #{$desktop} {
                    padding: 25% 0;
                    font-size: 2em;
                }
            }
            
            section.project {           
                margin: 5% 0;
                              
                picture {
                    flex: 1;
                        img {
                            border: 0px;
                            border-radius: 0px;
                        }
                }
                
                section.description {
                    
                    flex: 2;
                    align-items: flex-start;
                    text-align: left;
                    h4 {
                        flex: 1;
                    }
                    p{
                        margin: 10px 0;
                        flex: 2;
                    }
                    i {
                        color: $white;
                    }
                    i:hover {
                        color: $yellow;
                    }
                }
            }
  
        }
        
        footer {
            //see _footer.scss
        }
    }
}