/* Variables */
$black: #111111;
$white: #fff9ff;
$purple: #392a6d;
$yellow: #fff247;
$facebook-blue:  #3B5998;
$gmail-red: #CC181E;
$github-gray: #666161;
$github-black: #252323;
$background-black: #222428;
$primary_text_color: #fff9ff;

$laptop: "(min-width: 769px) and (max-width: 1366px)";
$desktop: "(min-width: 1366px)";

$padding-lg: 30px;
$margin-sm: 10px;
$margin-lg: 30px;

@import 'header';
@import 'footer';
@import 'fonts';
@import 'contact';
@import 'hobbies';
@import 'portfolio';
@import 'links';
@import 'italent';


html {
    height: 100%;

    body {
        height: 100%;
        font-family: 'Nunito','Droid Sans', sans-serif;
        
        
        background-color: $black;
        background-image: url(../images/background.png);
        background-repeat: no-repeat;
        
        
        @media #{$desktop},#{$laptop}  {
            background-size: cover;
        }

        a, a:visited {
            color: inherit;
            text-decoration: none;
        }
    
        header {
            //see _header.scss
        }
        
        
        
        > main { //CONTENT SECTION
            width: 100%;
            
            
            @media #{$desktop},#{$laptop} {
                height: 90%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            
            
            color: $primary_text_color;
                        
            h1 {
                font-family: 'WC';
                font-size: 3em;
                text-align: center;
                align-self: center;
                @media #{$desktop},#{$laptop} {
                    display: block;  
                    font-size: 7em;
                    margin-top: 50px;
                }  
            }

            h2 {
                font-size: 5em;
                color: $primary_text_color;
                font-family: BlackoutInverse;
                text-align: center;
                
                @media #{$desktop},#{$laptop} {
                    display: none;  
                }
            }

            h3 {
                font-size: 5em;
                text-align: center;
                color: $purple;
                margin-bottom: $margin_lg;
            } 

            h4 {
                color: $yellow;
                font-size: 2em;
            }

            h5 {
                color: $facebook-blue;
            }

            h6 {
                
            }

            section {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: 0 $margin-lg;
                
                @media #{$desktop},#{$laptop} {
                     flex-direction: row;
                    align-items: center;
                }
                
                picture {
                    flex: 1;
                    
                    img {
                        border: 5px solid #FFF;
                        box-shadow: 0px 0px 5px #CCC;
                        margin-bottom: 2%;
                        border-radius: 50%;

                    }
                }
                section {
                    display: flex;
                    flex: 3;
                    flex-direction: column;
                    margin: $margin-sm $margin-lg;
                    
                    @media #{$desktop}, #{$laptop} {
                        padding: 0 $padding-lg;
                    }
                    p {
                        flex: 1;
                        text-align: left;
                    }
                }
            }

            i, i:visited {
                color: $black;
            }
            i:hover {
                color: $yellow;
            }

            section {
                text-align: center;
                margin: $margin-sm $margin-lg;
            }   
            
        }

        main#homepage { 
            h1 {
                display: none;
                @media #{$desktop},#{$laptop} {
                    flex: 1;
                    display: block;  
                }                
            }
            h2 {
                flex: 2;
                align-self: center;
                @media #{$desktop},#{$laptop} {
                    display: block;  
                }                
            }

            
        }
        
        .dl_button {
            text-align: center;
            border: 1px solid $black;
            border-radius: 5px;
            width: 60%;

            padding: 5px;
            margin: 20px auto 0 auto;

            background: white;
            color: $black;
            
            @media #{$laptop} {
                width: 20%;
            }
            @media #{$desktop} {
                width: 12%;
            }

        }
        
        footer {
            //see _footer.scss
        }
    }
}
