section#about {
    height: 100vh;
    //background-color: $white;
    //border-top: 1px solid $mid-gray;
    line-height: 1.2;
    color: black;

    .alt {
        display: none;
    }
    
    > ul{
        padding: 10vh 0;
        float: left;
        list-style: none;
        font-size: 3em;

        @media #{$laptop} {
            padding: 0;
        }

        li {
            margin: 40px 0;

            span[lang="ja"] {
                font-size: .3em;

                -ms-writing-mode: tb-rl;
                -webkit-writing-mode: vertical-rl;
                -moz-writing-mode: vertical-rl;
                -ms-writing-mode: vertical-rl;
                writing-mode: vertical-rl;


            }
        }
    }

    @-moz-document url-prefix() {
        h3 {
            font-size: 12em;
        }
    }
}

section#about_text {
    height: 20vh;
    padding: 10vh 0;
    picture {
        width: 20vw;
        text-align: center;
        float: left;
        clear: both;
        img {
            border-radius: 50%;
        }
    }

    section {
        //margin: 5vh 0;
        width: 80vw;
        p {
            margin: 5vh 0;
        }
    }
}

section#hobbies {
    h3 {
        width: 100vw;
    }
    
    picture {
        width: 15vw;
        text-align: center;
        float: left;
        clear: both;
        margin: 5vh 0;
        img {
            border-radius: 50%;
        }
    }

    > ul li {   
        margin: 100px 0;
        
        section {
            width: 70vw;
            float: left;
            margin: 10vh;
        }
       
    }
}