section#cv {
    height: auto;
    
    a{
        color: $dark-gray;

        &:hover {
            color: aquamarine;
        }
    }
    
    h3 {
        font-family: 'WC';
        float: none;
        font-size: 10em;
        word-spacing: normal;
        width: auto;

        @media #{$laptop} {
            font-size: 5em;
        }
    }
    
    ul {
        font-size: 2em;
        float: none;
        
        li {
            margin: 20px 0;
            
            
        }
    }
    
    table {
        margin: 30px 0;
        
        thead {
            font-size: 5em;
        }
        
        tr.CV_head {
            font-size: 2em;
        }
        
        tr.CV_sub {
            font-size: 1.5em;
        }
        
        td {
            padding-right: 30px;
        }
    }
}