$dark: #111111;
$white: #F8F8F8;
$gray: #4c4c4c;
$light-gray: #f3f3f3;
$mid-gray: #dfdfdf;
$dark-gray: #878787;
$green: #00583F;
$green-light: #007251;
$green-flashy: #93ffe0;
$green-flashy-dark: #0affb9;
$green-flashy-contrast: #565656;
$green-flashy-contrast-light: #707070;
$facebook-blue: #3B5998;
$github-gray: #3f3c3c;
$gmail-red: #CC181E;

html {
    body {
        main {
            
            
            > section#italent {
                height: auto;
                //margin: 25vh 0;
                padding: 0 20px;
                
                a, a:visited, a:active {
                    color: $dark-gray;
                }
                
                a:hover {
                    color: aquamarine;
                }
                
                h1 {
                    font-family: 'WC';
                    font-size: 10em;
                    word-spacing: normal;
                    width: 30vw;
                    display: inline-block;
                    
                    @media #{$laptop} {
                        font-size: 5em;
                    }
                }
                
                h2 {
                    font-size: 5em;
                    margin: 20vh auto;
                    width: 50vw;
                    text-align: center;
                }
                
                h3 {
                    width: 100vw;
                    word-spacing: normal;
                    margin: 20px 0;
                    font-size: 10em;
                    
                    @media #{$laptop} {
                        font-size: 5em;
                    }
                }
                
                h4 {
                    font-size: 2em;
                }
                h5 {
                    color: $dark-gray;
                    font-size: 1em;
                    //margin-bottom: 20px;
                }
        
                p {
                    //font-size: 1.2em;
                    margin: 5vh 0;
                }
                
                ul {
                    list-style: none;
                    
                    strong {
                        font-size: 1.5em; 
                        
                        @media #{$laptop} {
                            //font-size: 1.2em;
                        }
                    }
                    
                    li {
                        margin: 40px 20px;
                        
                        @media #{$laptop} {
                            //font-size: .5em;
                        }
                    }
                    
                }

                span {
                    text-decoration: underline;
                    color: $dark-gray;
                }

                span.yearselection {
                    text-decoration: none;
                    display: inline-block;
                    
                    &:hover {
                        color: aquamarine;
                    }
                }

                span.current {
                    color: red;
                    
                }

                ul#nav {
                    display: inline-block;
                    width: 50vw;
                    margin-left: 5vw;
                    
                    li {
                        margin: 0;    
                    }
                    
                }
                
                > article {
                    margin-bottom: 20vh;
                    width: 85vw;
                    
                    > section { //sub-sectin of "opdrachtX"
                        margin: 30px 0;
                        p {
                            //margin: 20px 0;
                        }
                    }
                    
                    section.inline_section {
                        width: 40vw;
                        margin: 0 0 10vh 0;
                        display: inline-block;
                    }
                    
                    .inline_title {
                        width: auto;
                        margin-right: 10vw;
                        
                    }
                }
                
                
                
                
            }
        }
    }
}