section#links {
    a {
        color: $dark-gray;
    }
    
    a:hover {
        color: aquamarine;
    }
    
    h3 {
        float: none;
    }
    
    > section {
        margin: 20px;
    }
}