section#projects {
    margin: 0 0 20vh 0;
    
    ul {
        float: left;
        //width: 30vw;
        display: inline;
        font-size: 1em;
        padding: 10px;
        box-sizing: border-box;

        @media screen and (min-width: $laptop) {
            padding: 5px;
        }

        li {
            font-size: 3em;
            padding: 20px ;

            @media screen and (min-width: $laptop) {
                font-size: 1.5em;
                margin: 0;
            }
        }
        li.work_active {
            background-color: aquamarine;
        }
    }
    
    
    h3 {
        font-family: 'WC';
        float: none;
        font-size: 10em;
        word-spacing: normal;

        @media screen and (min-width: $laptop) {
            font-size: 5em;
        }
    }

}

div.work_container {
    float: left;
    height: 80vh;
    //width: 69vw;
    overflow: hidden;
    //background-color: $light-gray;
    border-left: 5px solid $dark;

    section.project {
        height: 100vh;
        width: 69vw;
        position: absolute;
        visibility: hidden;
        background-color: inherit;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;


        picture {
            padding: 20px;
            flex: 2;
            img {
                text-align: center;
                border: 5px solid $dark;
            }
            text-align: center;
            
            @media screen and (min-width: $laptop) {
                padding: 0;
            }
        }

        section.description{
            flex: 4;
            padding: 0 15vw;
            
            @media screen and (min-width: $laptop) {
                padding: 0 10vw;
            }

            h4 {
                font-size: 5em;
                text-align: center;

                @media screen and (min-width: $laptop) {
                    font-size: 2em;
                }
            }

            p {
                margin: 50px 0;
                
                @media screen and (min-width: $laptop) {
                    margin: 30px 0;
                }
            }

            a, a:visited,a:active {
                color: $dark;
                text-decoration: none;
            }

            a:hover {
                color: aquamarine;
            }

            i {
                display: inline;
                @media screen and (min-width: $laptop) {
                    font-size: 1em;
                }
            }

            h5 {
                display: inline;
                @media screen and (min-width: $laptop) {
                    font-size: .5em;
                }
            }
        }
    }

    section.project_stub {
        justify-content: flex-start;
        h4 {
            visibility: visible;
        }
    }
}