section#skills{
    width: 100vw;
    //flex-wrap: wrap;
    background-color: $green-flashy-contrast-light;
    height: 90vh;
    box-sizing: border-box;
    h3 {
        float: none;
        width: auto;
        text-align: center;
    }

    h4 {
        text-align: center;
        margin: 100px 0 0 0;
    }

    > div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;    
        div {
            width: 25vw;
            //height: 200px;
            text-align: center;
            color: $white;
            img {
                width: 100px;
                height: 100px;
            }



            h4 {
                margin: 10px 0;
                font-size: 2em;
                color: $green-flashy-dark;

                @media screen and (min-width: $laptop) {
                    font-size: 1.5em;
                }
            }    
        }
    }
}