@font-face {
  font-family: 'BlackoutInverse';
  src: url("../fonts/Blackout-2am.ttf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'WC';
  src: url("../fonts/WCManoNegraBta.otf");
  font-weight: normal;
  font-style: normal; }
header#home {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover; }
  header#home h1 {
    padding: 10vh 0;
    display: block;
    text-align: center;
    font-size: 15em;
    font-family: 'WC';
    color: #111111; }
    @media screen and (min-width: 769px) and (max-width: 1366px) {
      header#home h1 {
        padding: 5vh 0;
        font-size: 10em; } }
  header#home h2 {
    margin: 10vh 0;
    display: block;
    text-align: center;
    font-size: 12em;
    font-family: 'BlackoutInverse';
    color: mediumaquamarine; }
    @media screen and (min-width: 769px) and (max-width: 1366px) {
      header#home h2 {
        font-size: 8em;
        margin: 15vh 0 0 0; } }
@-moz-document url-prefix() {
  header#home h2 {
    margin: 0; } }
html body main > section#italent {
  height: auto;
  padding: 0 20px; }
  html body main > section#italent a, html body main > section#italent a:visited, html body main > section#italent a:active {
    color: #878787; }
  html body main > section#italent a:hover {
    color: aquamarine; }
  html body main > section#italent h1 {
    font-family: 'WC';
    font-size: 10em;
    word-spacing: normal;
    width: 30vw;
    display: inline-block; }
    @media screen and (min-width: 769px) and (max-width: 1366px) {
      html body main > section#italent h1 {
        font-size: 5em; } }
  html body main > section#italent h2 {
    font-size: 5em;
    margin: 20vh auto;
    width: 50vw;
    text-align: center; }
  html body main > section#italent h3 {
    width: 100vw;
    word-spacing: normal;
    margin: 20px 0;
    font-size: 10em; }
    @media screen and (min-width: 769px) and (max-width: 1366px) {
      html body main > section#italent h3 {
        font-size: 5em; } }
  html body main > section#italent h4 {
    font-size: 2em; }
  html body main > section#italent h5 {
    color: #878787;
    font-size: 1em; }
  html body main > section#italent p {
    margin: 5vh 0; }
  html body main > section#italent ul {
    list-style: none; }
    html body main > section#italent ul strong {
      font-size: 1.5em; }
    html body main > section#italent ul li {
      margin: 40px 20px; }
  html body main > section#italent span {
    text-decoration: underline;
    color: #878787; }
  html body main > section#italent span.yearselection {
    text-decoration: none;
    display: inline-block; }
    html body main > section#italent span.yearselection:hover {
      color: aquamarine; }
  html body main > section#italent span.current {
    color: red; }
  html body main > section#italent ul#nav {
    display: inline-block;
    width: 55vw; }
    html body main > section#italent ul#nav li {
      margin: 0; }
  html body main > section#italent > article {
    margin-bottom: 20vh;
    width: 85vw; }
    html body main > section#italent > article > section {
      margin: 30px 0; }
    html body main > section#italent > article section.inline_section {
      width: 40vw;
      margin: 0 0 10vh 0;
      display: inline-block; }
    html body main > section#italent > article .inline_title {
      width: auto;
      margin-right: 10vw; }

footer {
  padding: 0 0 10vh 0;
  background-color: #111111;
  color: white;
  /*
  a, a:visited,a:active{
      color: $white;
      text-decoration: none;
  }
  */ }
  footer h4 {
    display: block;
    text-align: center;
    padding: 10px 0 10vh 0;
    font-size: 4em;
    color: white; }
    @media screen and (min-width: 769px) and (max-width: 1366px) {
      footer h4 {
        font-size: 2em; } }
  footer div {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    footer div a {
      font-size: 3em; }
      footer div a span {
        color: #4c4c4c; }
      footer div a i {
        font-size: .3em; }
      footer div a:nth-child(1):hover i {
        color: #3B5998; }
      footer div a:nth-child(2):hover i {
        color: #3f3c3c; }
      footer div a:nth-child(3):hover i {
        color: #CC181E; }
      @media screen and (min-width: 769px) and (max-width: 1366px) {
        footer div a {
          font-size: 1.5em; } }
  footer form {
    padding: 10vh 25vw;
    width: 50%; }
    footer form input[type=submit], footer form input[type=text], footer form textarea, footer form input[type=email] {
      display: block;
      font-size: 1.5em;
      padding: 5px;
      margin: 10vh auto 0 auto;
      box-sizing: border-box;
      font-weight: bold;
      background: aquamarine;
      color: #111111;
      border: 2px solid #111111;
      border-radius: 10px;
      text-align: center;
      width: 50%; }
    footer form input[type=text], footer form textarea, footer form input[type=email] {
      margin: 20px auto;
      text-align: left;
      font-weight: normal;
      background-color: transparent;
      color: #F8F8F8;
      border-radius: 0;
      border-width: 0 0 1px 0;
      border-bottom-color: #F8F8F8;
      width: 100%; }
    footer form textarea {
      min-height: 4em; }
    footer form input[type=submit]:hover, footer form input[type=text]:hover, footer form textarea:hover, footer form input[type=email]:hover {
      background-color: #F8F8F8;
      color: #111111; }
    footer form input[type=text]:hover, footer form textarea:hover, footer form input[type=email]:hover {
      background-color: transparent;
      color: #F8F8F8; }
    footer form input:focus, footer form textarea:focus, footer form input:active, footer form textarea:active {
      outline: 0;
      border-bottom-color: #F8F8F8;
      border-bottom-width: 2px; }

section#projects {
  margin: 0 0 20vh 0;
  box-sizing: border-box; }
  section#projects ul {
    float: left;
    display: inline;
    font-size: 1em;
    padding: 10px;
    box-sizing: border-box; }
    @media screen and (min-width: 769px) and (max-width: 1366px) {
      section#projects ul {
        padding: 5px; } }
    section#projects ul li {
      font-size: 3em;
      padding: 20px;
      box-sizing: border-box; }
      @media screen and (min-width: 769px) and (max-width: 1366px) {
        section#projects ul li {
          font-size: 1.5em;
          margin: 0; } }
    section#projects ul li.work_active {
      background-color: aquamarine; }
  section#projects h3 {
    font-family: 'WC';
    float: none;
    font-size: 10em;
    word-spacing: normal; }
    @media screen and (min-width: 769px) and (max-width: 1366px) {
      section#projects h3 {
        font-size: 5em; } }

div.work_container {
  float: left;
  height: 80vh;
  overflow: hidden;
  border-left: 5px solid #111111; }
  div.work_container section.project {
    height: 100vh;
    width: 69vw;
    position: absolute;
    visibility: hidden;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
    div.work_container section.project picture {
      padding: 20px;
      flex: 2;
      text-align: center; }
      div.work_container section.project picture img {
        text-align: center;
        border: 5px solid #111111; }
      @media screen and (min-width: 769px) and (max-width: 1366px) {
        div.work_container section.project picture {
          padding: 0; } }
    div.work_container section.project section.description {
      flex: 4;
      padding: 0 15vw; }
      @media screen and (min-width: 769px) and (max-width: 1366px) {
        div.work_container section.project section.description {
          padding: 0 10vw; } }
      div.work_container section.project section.description h4 {
        font-size: 5em;
        text-align: center; }
        @media screen and (min-width: 769px) and (max-width: 1366px) {
          div.work_container section.project section.description h4 {
            font-size: 2em; } }
      div.work_container section.project section.description p {
        margin: 50px 0; }
        @media screen and (min-width: 769px) and (max-width: 1366px) {
          div.work_container section.project section.description p {
            margin: 30px 0; } }
      div.work_container section.project section.description a, div.work_container section.project section.description a:visited, div.work_container section.project section.description a:active {
        color: #111111;
        text-decoration: none; }
      div.work_container section.project section.description a:hover {
        color: aquamarine; }
      div.work_container section.project section.description i {
        display: inline; }
        @media screen and (min-width: 769px) and (max-width: 1366px) {
          div.work_container section.project section.description i {
            font-size: 1em; } }
      div.work_container section.project section.description h5 {
        display: inline; }
        @media screen and (min-width: 769px) and (max-width: 1366px) {
          div.work_container section.project section.description h5 {
            font-size: .5em; } }
  div.work_container section.project_stub {
    justify-content: flex-start; }
    div.work_container section.project_stub h4 {
      visibility: visible; }

section#site {
  width: 100vw;
  background-color: #707070;
  height: 70vh;
  box-sizing: border-box; }
  section#site h3 {
    float: none;
    width: auto;
    text-align: center; }
  section#site p {
    width: 70vw;
    text-align: center;
    padding: 30px 10vw; }

section#about {
  height: 100vh;
  line-height: 1.2;
  color: black; }
  section#about h3 {
    font-size: 13em; }
    @media screen and (min-width: 769px) and (max-width: 1366px) {
      section#about h3 {
        font-size: 7em; } }
  section#about .alt {
    display: none; }
  section#about > ul {
    padding: 10vh 0;
    float: left;
    list-style: none;
    font-size: 3em; }
    @media screen and (min-width: 769px) and (max-width: 1366px) {
      section#about > ul {
        padding: 0; } }
    section#about > ul li {
      margin: 40px 0; }
      section#about > ul li span[lang="ja"] {
        font-size: .3em;
        -ms-writing-mode: tb-rl;
        -webkit-writing-mode: vertical-rl;
        -moz-writing-mode: vertical-rl;
        -ms-writing-mode: vertical-rl;
        writing-mode: vertical-rl; }
@-moz-document url-prefix() {
  section#about h3 {
    font-size: 12em; }
    @media screen and (min-width: 769px) and (max-width: 1366px) {
      section#about h3 {
        font-size: 7em; } } }
section#about_text {
  height: 20vh;
  padding: 10vh 0; }
  section#about_text picture {
    width: 20vw;
    text-align: center;
    float: left;
    clear: both; }
    section#about_text picture img {
      border-radius: 50%; }
  section#about_text section {
    width: 80vw; }
    section#about_text section p {
      margin: 5vh 0; }

section#hobbies {
  height: 150vh; }
  section#hobbies h3 {
    width: 100vw; }
  section#hobbies picture {
    width: 15vw;
    text-align: center;
    float: left;
    clear: both;
    margin: 5vh 0; }
    section#hobbies picture img {
      border-radius: 50%; }
  section#hobbies > ul li {
    margin: 100px 0; }
    section#hobbies > ul li section {
      width: 70vw;
      float: left;
      margin: 10vh; }

section#cv {
  height: auto; }
  section#cv a {
    color: #878787; }
    section#cv a:hover {
      color: aquamarine; }
  section#cv h3 {
    font-family: 'WC';
    float: none;
    font-size: 10em;
    word-spacing: normal;
    width: auto; }
    @media screen and (min-width: 769px) and (max-width: 1366px) {
      section#cv h3 {
        font-size: 5em; } }
  section#cv ul {
    font-size: 2em;
    float: none; }
    section#cv ul li {
      margin: 20px 0; }
  section#cv table {
    margin: 30px 0; }
    section#cv table thead {
      font-size: 5em; }
    section#cv table tr.CV_head {
      font-size: 2em; }
    section#cv table tr.CV_sub {
      font-size: 1.5em; }
    section#cv table td {
      padding-right: 30px; }

section#links a {
  color: #878787; }
section#links a:hover {
  color: aquamarine; }
section#links h3 {
  float: none; }
section#links > section {
  margin: 20px; }

html body main {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
  background-color: white; }
  html body main a, html body main a:visited, html body main a:active {
    color: #F8F8F8;
    text-decoration: none; }
  html body main .language_container {
    background-color: transparent;
    width: 6%;
    position: absolute;
    right: 15px; }
    html body main .language_container button, html body main .language_container button:visited, html body main .language_container button:active {
      background-color: transparent;
      color: #111111;
      padding: 10px;
      font-size: 14px;
      border: none; }
    html body main .language_container ul {
      list-style: none;
      font-size: 14px;
      display: none;
      cursor: initial; }
      html body main .language_container ul li {
        margin-bottom: 5px; }
        html body main .language_container ul li a {
          padding: 15px;
          color: #111111; }
      html body main .language_container ul li a:hover {
        color: mediumaquamarine; }
      html body main .language_container ul li.current_language {
        font-weight: bold; }
  html body main .language_container:hover ul {
    display: block; }
  html body main .arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #111111;
    margin-left: 5px;
    display: inline-block; }
  html body main nav {
    position: fixed;
    top: 50vh;
    right: 20px;
    mix-blend-mode: difference;
    z-index: 42; }
    html body main nav a:hover {
      text-decoration: line-through; }
    html body main nav ul {
      list-style: none; }
      html body main nav ul li {
        margin: 5px 0;
        text-align: right; }
        html body main nav ul li i {
          margin: 0 0 0 10px; }
      html body main nav ul:hover a {
        visibility: visible; }
  html body main header {
    height: 50px;
    border-bottom: 1px solid #dfdfdf;
    padding: 10px;
    box-sizing: border-box; }
    html body main header h1 {
      display: inline;
      font-size: 2em;
      font-family: 'WC';
      color: #111111; }
    html body main header h2 {
      float: right;
      display: inline;
      text-align: center;
      font-size: 2em;
      font-family: 'BlackoutInverse';
      color: mediumaquamarine; }
  html body main > section {
    height: 100vh;
    padding: 0 20px; }
    html body main > section h3 {
      font-size: 14em;
      word-spacing: 40vw;
      width: 40vw;
      float: left; }
      @media screen and (min-width: 769px) and (max-width: 1366px) {
        html body main > section h3 {
          font-size: 7em; } }
      html body main > section h3 span.accent {
        color: aquamarine; }
    html body main > section ul {
      list-style: none; }
  html body main#interested {
    height: 100vh; }
  html body main#skills {
    border-top: 1px solid #878787; }
  html body main#empty {
    height: 200vh; }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    html body main nav li, html body main nav li a:link, html body main nav li a:visited, html body main nav li a:hover, html body main nav li a:active {
      color: gray; }
    html body main header#home h2 {
      margin: 0; }
    html body main section.description {
      width: 60vw; } }
@media screen and (-ms-high-contrast: active) and (min-width: 769px) and (max-width: 1366px) {
  html body main section#about h3 {
    font-size: 7em; } }

/*# sourceMappingURL=style.css.map */
