$dark: #111111;
$white: #F8F8F8;
$gray: #4c4c4c;
$light-gray: #f3f3f3;
$mid-gray: #dfdfdf;
$dark-gray: #878787;
$green: #00583F;
$green-light: #007251;
$green-flashy: #93ffe0;
$green-flashy-dark: #0affb9;
$green-flashy-contrast: #565656;
$green-flashy-contrast-light: #707070;

$facebook-blue: #3B5998;
$github-gray: #3f3c3c;
$gmail-red: #CC181E;

$laptop: 1200px;

@import 'fonts';
@import 'home';
@import 'italent';
@import 'footer';
@import 'projects';
@import 'site';
@import 'about';
@import 'cv';
@import 'links';
@import 'hobbies';

html {
    body {
        main {
            
            font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
            overflow: hidden;
            
            a, a:visited,a:active{
                color: $white;
                text-decoration: none;
            }
            
            nav {
                position: fixed;
                top: 50vh;
                right: 20px;
                mix-blend-mode: difference;
                z-index: 42;
                
                a:hover {
                    text-decoration: line-through;
                    color: white;
                }
                
                ul {
                    list-style: none;
                    color: white;
                    
                    li {
                        margin: 5px 0;
                        text-align: right;
                        
                        i {
                            margin: 0 0 0 10px;
                        }
                        
                    }
                    
                    &:hover a {
                        visibility: visible;
                    }
                }
            }
            header {
                height: 50px;
                border-bottom: 1px solid $mid-gray;
                padding: 10px;
                box-sizing: border-box;
                
                h1 {
                    //padding: 10vh 0;
                    display: inline;
                    //text-align: center;
                    font-size: 2em;
                    
                    font-family: 'WC';
                    color: $dark;
                }
                
                h2 {
                    float: right;
                    display: inline;
                    text-align: center;
                    font-size: 2em;
                    font-family: 'BlackoutInverse';
                    
                    color: mediumaquamarine;
                }
            }
            
            
            > section {
                height: 100vh;
                //margin: 25vh 0;
                padding: 0 20px;
                
                h3{
                    font-size: 14em;
                    word-spacing: 40vw;
                    width: 40vw;
                    float: left;
                    
                    @media screen and (min-width: $laptop) {
                        font-size: 7em;
                    }
                    
                    span.accent {
                        color: aquamarine;
                    }
                }
                

                
                ul {
                    list-style: none;
                }
                
                
            } 
                
            &#interested {
                height: 100vh;
                //background-color: $light-gray;
            }
            &#skills {
                border-top: 1px solid $dark-gray;

            }

            &#empty {
                height: 200vh;
            }
                
        }


    }

}